/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    text-align: center;
    background-color: #091235;
    margin: 0 auto;
}
.banner {
    height: 101px;
    background-image: url("../images/dog-things-light-01.png");
    background-size: 230px;
}
.banner.expanded {
    height: 300px;
}
#red, #green, #blue {            /* the tricolor line of spans */
    height: 5px;
    width: 33.33%;
    display: inline-block;
    transform: translate(0, -9px);
}
#red {
    background-color: #cb526c;
}
#green {
    background-color: #cbf77e;
}
#blue {
    background-color: #80d2ef;
}
#logo {
    height: 150px;
    display: block;
    margin: 10px auto 5px;
}
h1 {
    font-family: 'Sniglet', cursive;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(252, 250, 243);
    padding: 5px 0 10px 0;
}
h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    font-style: italic;
    text-transform: lowercase;
    letter-spacing: 3px;
    color: #f05d77;
    padding-bottom: 50px;
}

/* MAIN  */

main {
    background-color: rgb(252, 250, 243);
    padding: 30px 0;
}
#content-area {
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    margin: 0 auto;
}
.shiba-inu {
    height: 490px;
    margin: 70px 0 10px 0;
    display: block;
    filter: drop-shadow(2px 4px 7px tan);
}
.shiba-inu.mobile {
    display: none;
}
#speech-bubble {
    position: relative;
    background-color: #80a6dd;
    height: 230px;
    width: 345px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2px 2px 4px tan);
}
#speech-bubble::after {
    content: "";
    position: absolute;
    background-color: #80a6dd;
    width: 40px;
    height: 30px;
    left: 90px;
    bottom: -15px;
    border-bottom-right-radius: 45px;
    transform: skew(-25deg);
}
#dog-quote {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 800;
    letter-spacing: .5px;
    line-height: 1.9em;
    text-align: center;
    color: #091235;
    padding: 35px 52px;
}
#neon-underline {
    border-bottom: 2px solid #cbf77e;
}
#your-result {                             /* See JS file */
    display: block;
    font-size: 30px;
    line-height: .8em;
    color: #cbf77e;
    padding-bottom: 5px;
}
form {
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    margin-top: 220px;
}
label, input {
    color: rgb(80, 61, 61);
}
label {
    font-family: 'Fredoka One', cursive;
    font-size: 17px;
    letter-spacing: 1px;
    padding-right: 5px;
}
input {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    padding-left: 17px;
    width: 33px;
    background-color: rgb(252, 250, 243);
    border-bottom: 1px dashed #f05d77;
    border-style: none none dashed none;
}
input[type=number]::-webkit-inner-spin-button {
    cursor: pointer;
}
#submit {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #fff;
    background-color: #cb526c;
    background-image: linear-gradient(160deg, #f05d77, #cb526c);
    border: none;
    border-radius: 19px;
    padding: 5px 9px;
    margin-left: 6px;
    cursor: pointer;
}
#submit:hover {
    background-image: linear-gradient(170deg, #e8768b, #c1163c);
}

/* FOOTER */

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: rgb(25, 21, 21);
}
#copyright {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #cbf77e;
    padding: 20px 20px;
}

/* MEDIA QUERIES  */

@media only screen and (max-width: 750px) {
    .banner {
        height: 50px;
        background-size: 140px;
    }
    #logo {
        height: 110px;
        margin: 5px auto;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 15px;
        padding-bottom: 35px;
    }
    #content-area {
        display: block;
        width: auto;
    }
    #speech-bubble {
        margin: 0 auto;
    }
    #speech-bubble::after {
        width: 50px;
        height: 40px;
        left: 85px;
        bottom: -20px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 85%;
        transform: skew(9deg, 8deg);
    }
    .shiba-inu {
        display: none;
    }
    .shiba-inu.mobile {
        display: block;
        margin: 20px auto 0;
    }
    form {
        text-align: center;
        margin-top: 45px;
    }
    .banner.expanded {
        height: 200px;
    }
}
